.footer {
  @extend %dark;
  padding: $p-lg 0 $p-m 0;
  font-size: $fz-sm;

  &-bar {
    @extend %flex-row-between;
    margin-bottom: $m-sm;
  }

  &-navbar {
    @extend %flex-row-between;
    li {
      margin-right: $m-lg;
    }
    @include mobile {
      display: none;
    }  
  }

  &-ic {
    @extend %flex-row-between;
    img {
      margin-left: $m-m;
      width: 48px;
    }
    @include mobile {
      img {
        width: 24px;
      }
    }
  }
}

.contact {
  font-size: $fz-xl;
  margin-bottom: $m-m;

  i {
    margin-right: $m-xs;
  }

  li {
    margin-bottom: $m-xxs;
  }

  @include mobile {
    font-size: $fz-sm;
  }
}

.copyright {
  @extend %flex-row-between;
  border-top: 1px solid white;
  padding-top: $m-m;

  li {
    font-size: 14px;
  }

  &-flex {
    @extend %flex-row-between;
  }
}