.footer {
  @extend %dark;
  padding: $p-lg 0 $p-m 0;
  font-size: $fz-sm;

  @include mobile {
    padding: $p-sm 0 $p-xs 0;
  }

  &-mobile {
    @include mobile {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row-reverse;
    }
  }

  &-bar {
    @extend %flex-row-between;
    margin-bottom: $m-sm;
  }

  &-navbar {
    @extend %flex-row-between;
    li {
      margin-right: $m-lg;
    }

    @include mobile {
      display: none;
    }
  }

  &-ic {
    @extend %flex-row-between;

    img {
      margin-left: $m-m;
      width: 48px;

      @include pad {
        margin-left: $m-xs;
        width: 24px;
        width: 40px;
      }

      @include mobile {
        margin-left: $m-xxs;
        width: 24px;
      }
    }

  }
}


.contact {
  font-size: $fz-xl;
  margin-bottom: $m-m;

  @include mobile {
    font-size: $fz-sm;
    margin-bottom: $m-xs;
  }

  i {
    margin-right: $m-xs;
  }

  li {
    margin-bottom: $m-xxs;
  }


}

.copyright {
  @extend %flex-row-between;
  border-top: 1px solid white;
  padding-top: $m-m;

  @include mobile {
    padding-top: $p-xs;
    font-size: $fz-sm;
  }

  P {
    margin-bottom: $m-xxs;
  }

  li {
    font-size: 14px;
    margin-left: $m-lg;

    @include mobile {
      margin-left: 0;
      margin-bottom: $m-xxs;
    }
  }

  &-list {
    @extend %flex-row-between;

    @include mobile {
      display: block;
      text-align: left;
    }
  }
}