.header {
    @extend %dark;
    padding: $p-xs 0;
    font-size: $fz-m;

    &-flex, &-navbar{
        @extend %flex-row-between;
    }

    li {
        margin-left: $m-xl;
    }

    i {
        display: none;
    }

    @include mobile {
        ul {
            display: none;
        }

        i {
            display: block;
        }
    }
}

.logo {
    width: 80px;
    height: 48px;
    background-image: url(../images/logo-white.png);
    background-position: center;
    background-size: cover;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}