.header {
    @extend %dark;
    padding: $p-xs 0;
    font-size: $fz-m;

    @include mobile {
        ul {
            display: none;
        }
    }

    i {
        display: none;

        @include mobile {
            display: block;
        }
    }

    li {
        margin-left: $m-xl;
    }

    &-flex,
    &-navbar {
        @extend %flex-row-between;
    }

    .logo {
        width: 80px;
        height: 48px;
        background-image: url(../images/logo-white.png);
        background-position: center;
        background-size: cover;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
    }
}