.banner {
  height: calc(100vh - 80px);

  @include bg-image("../images/home-header.png") {}

  @include mobile {
    @include bg-image("../images/home-header-sm.png") {}
  }

  &-flex {
    @extend %d-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  h2 {
    font-size: $fz-title;
    font-weight: $fw-bold;
    margin-bottom: 4px;

    @include mobile {
      font-size: $fz-ml;
    }
  }

  h3 {
    font-size: $fz-xl;

    @include mobile {
      font-size: $fz-sm;
    }
  }

  &-btn {
    padding: 6px 12px 6px 12px;
    font-size: $fz-m;
    background-color: $primary ;
    color: $secondary;
  }
}