.index {
  font-weight: bold;
  text-align: center;

  h2 {
    font-size: $fz-subtitle;
    margin-bottom: $m-lg;

    @include mobile {
      font-size: $fz-ml;
      margin-bottom: $m-sm;
    }
  }

  h3 {
    font-size: $fz-ml;
  }

  h4 {
    font-size: $fz-subtitle;
    font-weight: $fw-bold;
    font-style: italic;
  }

  p {
    color: $secondary-font;
    font-size: $fz-sm;
    font-weight: $fw-regular;
    text-align: left;
  }

  .date {
    color: #707070;
    font-size: $fz-base * 1.75;
    text-align: left;
  }
}

.feature {
  background-color: $light;

  img {
    max-width: 100px;
    margin-bottom: $m-xs;
  }

  h2 {
    margin-bottom: $m-sm;
  }

  h3 {
    margin-bottom: $m-xxs;
  }

  @include li-card-rwd ($c-4, 0, $c-2, $m-sm, $c-1, $m-sm) {}

  &-flex {
    @extend %flex-row-between;

    @include mobile {
      justify-content: center;
    }
  }
}

.classic {
  img {
    margin-bottom: $m-xxs;
  }

  @include li-card-rwd ($c-3, 0, 51%, $m-sm, $c-1, $m-sm) {}

  &-flex {
    @extend %flex-row-between-center;

    @include pad {
      justify-content: center;
    }
  }
}

.design {
  @include li-card-rwd ($c-2-no-gutter, 0, $c-1, $m-sm, $c-1, $m-sm) {}

  @include bg-image("../images/index-bg.png") {}

  @include pad {
    @include bg-image("../images/index-bg-md.png") {}
  }

  @include mobile {
    @include bg-image("../images/index-bg-sm.png") {}
  }

  .bg-double {
    @extend %design-pic-rwd;

    @include bg-image("../images/home-section4-1.png") {}

    @include mobile {
      @include bg-image("../images/home-section4-1-sm.png") {}
    }
  }

  .bg-youth {
    @extend %design-pic-rwd;

    @include bg-image("../images/home-section4-2.png") {}

    @include mobile {
      @include bg-image("../images/home-section4-2-sm.png") {}
    }
  }

  h4 {
    padding: 8px auto;
    background: $secondary;
    border-left: 1px solid #000;
    max-width: 100%;
  }

  h2 {
    color: $secondary;
  }

  &-flex {
    @extend %flex-row-between-center;
  }
}

.customer {
  @include li-card-rwd($c-4, 0, $c-2, $m-sm, $c-1, $m-xs) {}

  img {
    margin-bottom: $m-xs;
  }

  li {
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;

  }

  &-flex {
    @extend %flex-row-between-center;
  }

  .name {
    margin-bottom: $m-xxs;
  }

  .customer-card {
    padding: $p-xs;
    @extend %d-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 205px;
  }

}

.message {
  background-color: $light;

  &-container {
    max-width: 636px;
    margin: 0 auto;

    @include pad {
      max-width: 576px;
    }

    @include mobile {
      max-width: 348px;
    }
  }
&-text {
  font-size: $fz-m;
  margin-bottom: $m-sm;

  @include pad {
    font-size: $fz-sm;
  }
}
  &-list {
    font-size: $fz-sm;
    font-weight: $fw-regular;

    label {
      display: block;
      color: $secondary-font;
      text-align: left;
      margin-bottom: $m-base;
    }

    input,
    textarea {
      display: block;
      padding: 6px 12px;
      color: gray;
      background-color: $light;
      border: 1px solid #000;
      width: -webkit-fill-available;
      resize: none;
      margin-bottom: $m-xs;
    }
  }

  

  &-check-box {
    text-align: left;
    font-weight: $fw-regular;
    margin-bottom: $m-lg;

    @include mobile {
      margin-bottom: $m-sm;
    }

    input {
      vertical-align: middle;
    }

    label {
      color: $secondary-font;
    }
  }

  &-btn {
    display: inline-block;
    padding: $p-xs 176px;
    background-color: $primary;

    @include pad {
      padding: $p-xs 136px;
    }

    @include mobile {
      padding: $p-xs 0px;
    }

    @include mobile {
      display: block;
    }

    input {
      font-size: $fz-ml;
      color: $secondary;
      font-weight: $fw-bold;
      background-color: $primary;
      border: 0px;
    }
  }
}