.question {
    padding-top: $p-huge;
    padding-bottom: $p-lg;
    font-weight: $fw-bold;
    color: $secondary-font;

    @include pad {
        padding-top: $p-xxl;
    }

    @include mobile {
        padding-top: $p-ml;
        padding-bottom: $p-ml;
    }

    h2 {
        font-size: $fz-subtitle;
        border-left: 8px solid $primary;
        padding-left: $p-xs;
        margin-bottom: $m-m;

        @include mobile {
            font-size: $fz-ml;
            margin-bottom: $m-sm;
        }
    }

    h3 {
        font-size: $fz-ml;
        margin-bottom: $m-sm;
    }

    h4 {
        font-size: $fz-m;
        margin-bottom: $m-xxs;
    }

    p {
        font-weight: $fw-regular;
        font-size: $fz-sm;
        margin-bottom: $m-m;

        @include mobile {
            margin-bottom: $m-sm;
        }
    }


}