
$primary: #AA0601 !default;
$secondary: white !default;

$fw-thin: 100 !default;
$fw-light: 300 !default;
$fw-regular: 400 !default;
$fw-medium: 500 !default;
$fw-bold: 700 !default;
$fw-black: 900 !default;

$font-noto: 'Noto Sans TC', sans-serif !default;
$font-roboto: 'Roboto', sans-serif !default;

$fz-root: 8px !default;
$fz-content: 2rem !default;
$fz-small: 2.5rem !default;
$fz-small: 2.5rem !default;
$fz-subtitle: 6rem !default;
$fz-title: 8rem !default;


