%dark {
  background-color: $primary;
  color: $secondary;
}

%d-flex {
  display: flex;
  // flex-wrap: wrap;
}
%flex-row-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

%flex-row-between-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

%hide-text {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

%design-pic-rwd {
  height: calc((1320px - 24px) / 2 * 0.37);
  
    @media (max-width: 1320px) {
      height: calc((100vw - 24px) / 2 * 0.37);
    }
  
    @include pad {
      height: calc((720px - 24px) * 0.34);
    }
  
    @include mobile {
      height: calc((372px - 24px) * 0.69);
    }
}