.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 12px;
  height: 100%;
  @include pad {
    max-width: 720px;
  }
  @include mobile {
    max-width: 372px;
  }
}

.container-padding {
  padding-top: 80px;
  padding-bottom: 80px;
  @include mobile{
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
