.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 12px;
  height: 100%;
  @include pad {
    max-width: 720px;
  }
  @include mobile {
    max-width: 372px;
  }
}

.container-padding-desk {
  padding: 80px 0;
  @include mobile{
    padding: 80px 0;
  }
}