
$primary: #AA0601 !default;
$secondary: white !default;
$primary-font: #650300 !default;
$secondary-font:black  !default;
$hover-color:rgba(224, 224, 224, 0.833) !default;

$fw-thin: 100 !default;
$fw-light: 300 !default;
$fw-regular: 400 !default;
$fw-medium: 500 !default;
$fw-bold: 700 !default;
$fw-black: 900 !default;

$font-noto: 'Noto Sans TC', sans-serif !default;
$font-roboto: 'Roboto', sans-serif !default;

$lh-normal:1.5;

$fz-base:8px;
$fz-xs: $fz-base * 1;
$fz-sm: $fz-base * 2;
$fz-m: $fz-base * 2.5;
$fz-ml: $fz-base * 3;
$fz-lg: $fz-base * 4;
$fz-xl: $fz-base * 4.5;
$fz-subtitle: $fz-base * 6;
$fz-title: $fz-base * 8;

$m-base:8px;
$m-xxs: $m-base * 1;
$m-xs: $m-base * 2;
$m-sm: $m-base * 3;
$m-m: $m-base * 4;
$m-ml: $m-base * 5;
$m-lg: $m-base * 6;
$m-xl: $m-base * 8;
$m-xxl: $m-base * 10;
$m-huge: $m-base * 12;

$p-base:8px;
$p-xxs: $p-base * 1;
$p-xs: $p-base * 2;
$p-sm: $p-base * 3;
$p-m: $p-base * 4;
$p-ml: $p-base * 5;
$p-lg: $p-base * 6;
$p-xl: $p-base * 8;
$p-xxl: $p-base * 10;
$p-huge: $p-base * 12;

// 四欄23.6 三欄32 雙欄49 雙欄無空格50 單欄 51
$c-1: 51%;
$c-2: 49%;
$c-3: 32%;
$c-4: 23.6%;
$c-2-no-gutter: 50%;
$c-3-no-gutter: 33.33%;
$c-4-no-gutter: 25%;



